.card-container {
  .card {
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 240px;
    width: 150px;
    border-radius: 10px;
    font-size: 12pt;
    position: relative;
    margin-top: -210px;
    text-shadow: none;
  }

  .card-header {
    height: 88%;
    padding-left: 3px;
  }

  .card-footer {
    height: 12%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    padding-left: 3px;
  }
}
