.table-container {
  .status-area {
    display: flex;
    justify-content: center;
    font-size: 30pt;
  }
}

.dealer-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.players-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
