.table-container {
}

.play-area {
}

.dealer-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.players-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
