.table-container {
  .status-area {
    display: flex;
    justify-content: center;
    font-size: 30pt;
  }
}

.dealer-container {
  display: flex;
  justify-content: center;
  padding: 7.5px;
}

.players-container {
  padding: 7.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dealer-text {
  display: flex;
  justify-content: center;
  font-size: 18pt;
  align-items: center;
}
