.player-container {
  border: 2px solid black;
  border-radius: 15px;
  height: 400px;
  width: 225px;
  margin-right: 7.5px;

  .player-cards-container {
    display: inline-flex;
  }

  .player-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    margin-top: 336px;
    width: inherit;
    // Just to keep this on top...
    z-index: 10000;
  }

  &:last-child {
    margin-right: 0px;
  }
}

.player-status {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 26, 26, 0.6);
  position: absolute;
  width: inherit;
  font-size: 22pt;
  // Just to keep this on top...
  z-index: 10000;
  // Diagonal div
  -webkit-transform: skewY(-5deg);
  -moz-transform: skewY(-5deg);
  -ms-transform: skewY(-5deg);
  -o-transform: skewY(-5deg);
  transform: skewY(-5deg);
}

.player-cards-container {
  padding: 30px;
  flex-direction: column;

  &:last-child {
    margin-bottom: -210px;
  }
}

.disabled {
  background-color: black;
  opacity: 30%; //
}
