body {
  font-family: "Pacifico", cursive;
  padding: 10px;
  background-color: darkgreen;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

input {
  background-color: black;
  color: white;
  border-radius: 15px;
  font-family: "Pacifico", cursive;
  font-size: large;
}
