body {
  font-family: "Pacifico", cursive;
  padding: 10px;
  background-color: darkgreen;
}

input {
  background-color: black;
  color: white;
  border-radius: 15px;
  font-family: "Pacifico", cursive;
  font-size: large;
}
